<h1><%= current_user.name %>Your order is here!</h1>


<h3><%= @accent.name %></h3>
<h3>Order ID: <%= @order.id_present_to_customer %></h3>
<h3>Purchased On: <%= @order.pretty_created_at %></h3>
<h3>Quantity: <%= @order.quantity %></h3>
<img src="<%= @accent.top_image %>" alt="<%= @accent.name %>">
<h3>Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
<h3>Tax: <%= number_to_currency(@order.tax) %></h3>
<h3>Total: <%= number_to_currency(@order.total) %></h3>



