<h1><%= @order.user.name %>Your order is here!</h1>


<h3><%= @accent.name %></h3>
<h3>Order ID: <%= @order.id_present_to_customer %></h3>
<h3>Purchased On: <%= @order.pretty_created_at %></h3>

<%= @order.carted_products.each do |carted_product| %>
  <h3>Title: <%= @carted_product.accent.name %> - qty: <%=  @carted_product.quantity %>
<% end %>


<h3>Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
<h3>Tax: <%= number_to_currency(@order.tax) %></h3>
<h3>Total: <%= number_to_currency(@order.total) %></h3>



