
    <section>
      <div class="row">

        <% @all_accents.each do |accent| %>

          <div class="col-sm-4">
            <div class="accent_single">
              <h2 class="accent_header"><%= accent.name %></h2>
              <p>Price: <%= number_to_currency(accent.price) %></p>
              <a href="/accents/<%= accent.id %>" title="View Accent"><img src="<%= accent.top_image %>" alt="<%= accent.name %>" class="img-responsive accent_single_image"></a>
              <p>Description: <%= accent.description %></p>
            </div>
          </div>
        <% end %>

      </div>
    </section>



