


<h2> <%= @accent.name %></h2>
<h3> $<%= @accent.price %></h3>
<h3> <img src=<%= @accent.image %>  > </h3>
<h3><%= @accent.description %></h3>
<h3><%= link_to 'Home', '/accents' %> 
<%= link_to 'Edit', "/accents/#{@accent.id}/edit" %> 
<%= link_to 'Delete', "/accents/#{@accent.id}", method: :delete %></h3>

<br>