


<h2> <%= @accent.name %></h2>
  <% if @accent.discounted? %>
    <h3> Discount Item!</h3>
  <% else %>
    <h3> On Sale! </h3>
  <% end %>

<p class="<%= "discount_price" if @accent.discounted? %>">Price: <%= number_to_currency(@accent.price) %></p>
<p>Tax: <%= number_to_currency(@accent.tax) %></p>
<p> Total: <%= number_to_currency(@accent.total) %></p>
<% @accent.images.each do |image| %>
  <img src="<%= image.url %>" alt="<% @accent.name %>" class="img-responsive">
  <% end %>
<p><%= @accent.description %></p>

<h3>Categories</h3>
<ul>
  <% @categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
<h2><%= link_to 'Home', '/accents' %> -
<% if current_user && current_user.admin %>
<%= link_to 'Edit', "/accents/#{@accent.id}/edit" %> -
<%= link_to 'Delete', "/accents/#{@accent.id}", method: :delete %></h2>
<% end %>


<section>
  <div>
    <%= form_tag '/carted_products', method: :post do %>
      <%= text_field_tag :quantity, nil, placeholder: "Quantity" %>
      <%= hidden_field_tag :accent_id, @accent.id %>
    <%= submit_tag 'Add To Cart!'%>
    <% end %>  
     
  </div>
</section>






